:host {
  display: block;
  height: 100%;
  width: 100%;
  min-width: 500px;

  @media screen and (max-width: 600px) {
    min-width: 100%;
  }
}

.captcha-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
